.currency {
  padding: 70px 70px 10px;
}

.currency__form {
  display: grid;
  gap: 20px;
  justify-content: center;
}

.currency__description {
  margin: 6px 0;
  font-size: 16px;
  color: var(--main-color);
  letter-spacing: normal;
  text-align: center;
}

.currency__fieldset {
  height: 72px;
  position: relative;
  background-color: var(--search-form-bg-color);
  border: none;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0 50px;
  margin: 0;
  font-size: 16px;
  letter-spacing: .04em;
}

.currency__input {
  display: none;
}

.currency__label {
  display: flex;
  align-items: center;
  position: relative;
}

.currency__label:before {
  content: "";
  width: 22px;
  height: 22px;
  position: relative;
  background: url(../../images/radio-button-unchecked.svg) 0 0 no-repeat;
  margin-right: 10px;
  cursor: pointer;
  transition: filter .25s;
}

.currency__input:checked+.currency__label:before {
  background: url(../../images/radio-button-checked.svg) 0 0 no-repeat;
}

.currency__label:hover:before {
  filter: opacity(70%);
}

.currency__base {
  text-align: center;
  font-size: 26px;
  margin: 28px 0 0;
  color: var(--main-color);
  letter-spacing: normal;
}

@media (max-width: 1024px) {
  .currency__form {
    padding: 0 20px 0 19px;
  }
}

@media (max-width: 768px) {
  .currency {
    padding: 80px 30px 10px;
  }
}

@media (max-width: 576px) {
  .currency {
    padding: 80px 10px 10px;
  }

  .currency__description {
    font-size: 14px;
  }

  .currency__fieldset {
    padding: 0 40px;
    margin: 0;
    font-size: 14px;
  }

  .currency__input {
    height: 20px;
    width: 20px;
  }

  .currency__base {
    font-size: 20px;
  }
}
